/*Tablet*/
@media screen and (max-width: 820px) {
    /*Conteúdo Principal*/
    .container{
        width: 90%; /*Largura de 90%*/
    }
}

/*Celular*/
@media screen and (max-width: 680px) {
    /*Conteúdo da Página*/
    body{
        margin: 0 16px; /*Margem a Direita e a Esquerda de 16px*/
    }

    /*Conteúdo Principal*/
    .container{
        width: 100%; /*Largura de 100%*/
        border-radius: 8px; /*Arredonda a Borda*/
        border: none; /*Nenhuma Borda*/
        padding: 40px; /*Preenchimento de 40px*/
    }

    /*Titulo*/
    h1{
        font-size: 1.5rem; /*Tamanho da fonte de 1.5 rem*/
    }   

    /*Demais Elementos*/
    main section form label, main section form #char, main section form #btn{
        font-size: 0.843rem; /*Tamanho da fonte - 0.843rem*/
    }

    /*Label - Texto acima do Campo de Entrada*/
    main section form label{
        margin: 40px 0 16px 0; /*Margem - Topo | Direita | Bottom | Esquerda*/
    }

    /*Campo de Entrada*/
    main section form #char{
        margin-bottom: 40px; /*Margem em baixo de 40px*/
    }
}

/*Celular*/
@media screen and (max-width: 548px) {   
    /*Titulo da Página*/
    h1{
        font-size: 1.266rem; /*Tamanho da Fonte - 1.266rem*/
    }

    /*Demais elementos*/
    main section form label, main section form #char, main section form #btn{
        font-size: 0.75rem; /*Tamanho da fonte - 0.75rem*/
    }

    /*Campo de Entrada*/
    main section form input{
        width: 320px; /*Largura de 320px*/
    }
}

/*Celular*/
@media screen and (max-width:477px) {
    /*Label - Texto acima do campo de entrada*/
    main section form label{
        margin-bottom: 16px; /*Margem em baixo de 16px*/
    }

    /*Campo de Entrada*/
    main section form #char{
        width: 100%; /*Largura de 100%*/
    }    

    /*Botão de Ação*/
    main section form #btn{
        width: 160px; /*Largura de 160px*/
    }
}